
.accountsBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr 1fr .25fr 1fr .25fr;
}

.jumbotron {
    grid-column-start: 2;
    }

label.form-label {
    font-size: 32px;
}

.text-muted {
    float: left;
    font-size: 16px;
}

.jumbotron {
    grid-column-start: 4;
}
