.contactBody {
    display:grid;
    grid-template-rows: .25fr 1fr .25fr;
    grid-template-columns: .25fr 1fr .25fr 1fr .25fr ; 
}

.guillermo {
    grid-column-start: 2;
}
.marcus {
    grid-column-start: 4;
}

