.generateBody {
    display: grid;
    grid-template-columns: .25fr 1.5fr .1fr 1.15fr .25fr;
    grid-template-rows: .25fr 1fr 3fr .5fr;
}
iframe {
    width: 100%;
    height: 1000px
}

.generateBanner {
    grid-row-start: 2;
    grid-column-start: 2;
}

.bullet {
    grid-row-start: 1;
    grid-column-start: 4;
    margin-top: -20px;
}

.inputBanner {
    grid-row-start: 2;
    grid-column-start: 4;
}

.generateRender {
    
    grid-column-start: 2;
    grid-row-start: 3;
    height: 300px
}

.inputField {
    /* background: navy; */
    height: 700px;
    grid-row-start: 3;
    grid-column-start: 4;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }