.generateBody {
    display: grid;
    grid-template-columns: .25fr 1.5fr .1fr 1.15fr .25fr;
    grid-template-rows: .25fr .5fr 3fr .5fr;
}
iframe {
    width: 1000px;
    height: 1000px;
}

.generateBanner {
    grid-row-start: 2;
    grid-column-start: 2;
}
.Banner {
    grid-row-start: 2;
    grid-column-start: 4;
}

.generateRender {
    grid-column-start: 2;
    grid-row-start: 3;
    height: 300px
}

.inputField {
    height: 700px;
    grid-row-start: 3;
    grid-column-start: 4;
    overflow:scroll;
}

.bullet {
    margin-top: 20px;
    margin-bottom: 20px;

}

.formSubHeader {
    font-size: 40px;
    text-decoration: underline;
    margin-top: 60px;
}