.generateBody {
    display: grid;
    grid-template-columns: .25fr 2fr .25fr 1fr .25fr;
    grid-template-rows: 1fr 1fr 3fr .5fr;
}
iframe {
    width: 1000px;
    height: 1000px
}

.generateBanner {
    grid-row-start: 2;
    grid-column-start: 2;
}
.inputBanner {
    grid-row-start: 2;
    grid-column-start: 4;
}

.generateRender {
    background: lawngreen;
    grid-column-start: 2;
    grid-row-start: 3;
    height: 300px
}

.inputField {
    /* background: navy; */
    height: 300px;
    grid-row-start: 3;
    grid-column-start: 4;
}