.generateBody {
    display: grid;
    grid-template-columns: .15fr 2fr .1fr 1.5fr .15fr;
    grid-template-rows: .1fr .25fr 3fr .5fr;
}

iframe {
    width: 100%;
    height: 100vh;
}

.generateBanner {
    grid-row-start: 2;
    grid-column-start: 2;
}
.Banner {
    grid-row-start: 2;
    grid-column-start: 4;
}

.generateRender {
    grid-column-start: 2;
    grid-row-start: 3;
    height: 300px
}

.inputField {
    height: 100vh;
    grid-row-start: 3;
    grid-column-start: 4;
    overflow:scroll;
}

.bullet {
    margin-top: 1%;

}

.formSubHeader {
    font-size: 6vh;
    text-decoration: underline;
    margin-top: 5%;
}