.welcomeContainer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 2fr 2fr .5fr .5fr 1fr 2fr;
    font-family: 'Inter', sans-serif;

}

.welcomeBanner {
    font-size: 70px;
    grid-column-start: 2;
    grid-row-start: 2;
}

.genLeadButton {
    margin-top: 10px;
    grid-column-start: 2;
    grid-row-start: 4;
    justify-self: start;
    width: 100%;
}

.genLeadTwoButton {
    margin-top: 10px;
    grid-column-start: 2;
    grid-row-start: 5;
    justify-self: end;
    width: 100%;
    /* align-items: right; */
}

.loginButton {
    margin-top: 10px;
    grid-column-start: 2;
    grid-row-start: 6;
}

.welcomeMessage {
    grid-column-start: 2;
    grid-row-start: 3;
}

.servicesBanner { 
    grid-row-start: 5;
    grid-column-start: 2;
    margin-top: 10%;
}
.servicesSubBanner {
    grid-row-start: 6;
    grid-column-start: 2;
}

.servicesContainer {
    grid-row-start: 7;
}

.servicesDescription {
    grid-row-start: 8;
    margin-left: 30px;
}
